/******************************************************************
								GENERAL
******************************************************************/
body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 14px;
}

.center-box {
	width: 90%;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
	width: 60%;
}

/******************************************************************
								HEADER
******************************************************************/
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 999;
}

nav ul {
	margin: 0;
	padding: 30px 0 30px 0;
	text-align: right;
	font-size: 14px;
}

nav ul li {
	display: inline-block;
	margin: 5px 15px 5px 15px;
}

nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ac7d3d;
	transition: 0.2s all ease-in;
}

nav ul li a:hover {
	opacity: 0.5;
	transition: 0.2s all ease-in;
}

#sign-in a {
	color: #ac7d3d;
	border: 1px solid #ac7d3d;
	padding: 15px;
	box-sizing: border-box;
	transition: 0.2s all ease-in;
}

#sign-in a:hover {
	opacity: 0.5;
	border: 1px solid #786F20;
	transition: 0.2s all ease-in;
}

#sign-up a {
	color: #fff;
	background-color: #ac7d3d;
	padding: 15px;
	box-sizing: border-box;
	transition: 0.2s all ease-in;
}

#sign-up a:hover {
	opacity: 0.5;
	transition: 0.2s all ease-in;
}


/******************************************************************
								EVENTS P
******************************************************************/
#main {
	width:80%;
	margin:auto;
	padding-top: 76px;
}

#info-left {
	background: #fff;
	width:50%;
	height: 1380px;
	float: left;
}

#info-right {
	background: #fff;
	width:50%;
	height: 1380px;
	float: right;
}


#info-right #description{
	width: 80%;
	margin: auto;
}

#info-right #profiles{
	width: 80%;
	margin: auto;
	padding-top: 10px
}

#profiles #article {
	width: 100%
	height: 120px;
	display: table;
}

#article #foto {
	display: table-cell;
	width: 30%;
	float: left;
}

#article #infop {
	display: table-cell;
	width: 70%;
	float: right;
}

#people {
	width: 50%;
	margin: auto;
}

#people ul li {	
	display: inline;
	text-decoration: none;
	border: 1px black solid;
	padding: 3px 20px 3px 20px;
}

#number {
	width: 50%;
	margin: auto;
}

#number ul li {	
	display: inline;
	text-decoration: none;
	text-align: left;
	padding: 3px 35px 3px 35px;
}

#mini-slider {
	margin:auto;
	width: 100%;
	overflow: hidden;
}

#mini-slider ul {
	display:flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite;
}

#mini-slider li {
	display: inline;
	text-decoration: none;
	list-style: none;
	width:100%;
}

#mini-slider img {
	width:100%;
}

@keyframes cambio {
	0% { margin-left: 0; }
	20% { margin-left: 0; }

	25% { margin-left: -100%; }
	45% { margin-left: -100%; }

	50% { margin-left: -200%; }
	70%  {margin-left: -200%; }

	75% { margin-left: -300%; }
	100% { margin-left: -300%; }
}



/******************************************************************
								FOOTER
******************************************************************/

footer {
	background-color: #222;
	color: #fff;
	font-size: 16px;
	padding: 80px 0 80px 0;
	text-align: center;
	width: 100%;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	color: #ccc;
	text-decoration: none;
}

footer .col {
	display: inline-block;
	margin-left: -2%;
	margin-right: 6%;
	text-align: left;
	vertical-align: top;
	width: 16%;
}

.col:last-child {
	margin: 0;
}

.social li {
	display: inline-block;
	width: 20%;
	margin-right: 15px;
}

.col img {
	width: 100%;
}